<!-- src/app/tab1/tab1.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let note of notes">
      <ion-label>{{ note.title }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="viewNoteDetail(note.id)">
          <ion-icon slot="icon-only" name="eye"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteNote(note.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
